<?xml version="1.0" encoding="UTF-8"?>
<config>
   <tabs>
      <harman translate="label" module="amedus">
         <label>Harman</label>
         <sort_order>0</sort_order>
      </harman>
   </tabs>
   <sections>
      <harman_section translate="label" module="amedus">
         <label>Amdeus Configuration</label>
         <tab>harman</tab>
         <frontend_type>text</frontend_type>
         <sort_order>0</sort_order>
         <show_in_default>1</show_in_default>
         <show_in_website>1</show_in_website>
         <show_in_store>1</show_in_store>
         <groups>
            <config translate="label">
               <label>Configuration</label>
               <frontend_type>text</frontend_type>
               <sort_order>0</sort_order>
               <show_in_default>1</show_in_default>
               <show_in_website>1</show_in_website>
               <show_in_store>1</show_in_store>
               <fields>
                  <url translate="label">
                     <label>Api Url</label>
                     <frontend_type>text</frontend_type>
                     <sort_order>0</sort_order>
                     <show_in_default>1</show_in_default>
                     <show_in_website>1</show_in_website>
                     <show_in_store>1</show_in_store>
                  </url>
                  <api_key translate="label">
                     <label>Api Key</label>
                     <frontend_type>text</frontend_type>
                     <sort_order>0</sort_order>
                     <show_in_default>1</show_in_default>
                     <show_in_website>1</show_in_website>
                     <show_in_store>1</show_in_store>
                  </api_key>
                  <status translate="label">
                     <label>Status</label>
                     <frontend_type>select</frontend_type>
                     <source_model>adminhtml/system_config_source_yesno</source_model>
                     <sort_order>0</sort_order>
                     <show_in_default>1</show_in_default>
                     <show_in_website>1</show_in_website>
                     <show_in_store>1</show_in_store>
                  </status>
               </fields>
            </config>
         </groups>
      </harman_section>
   </sections>
</config>